.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.table {
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 15px;
}

.table th,
.table td {
  padding: 8px;
  border: none;
  text-align: left;
  text-align: center;
}

.table th {
  background-color: #060707;
  color: #ffffff;
}
.table tbody {
  background-color: #ffffff;
}
.table td{
  box-shadow: 0px 2px 0px 0px #050505;
}
.table tbody tr:hover {
  background-color: #efefef;
}
.table button:hover {
  transform: scale(1.1);
}
.admin-input-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.admin-input{
  border: transparent;
  height: 40px;
  width: 400px;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Calibri';
  margin: 10px;
  background-color: white;
  box-shadow: 1px 2px 2px 2px rgba(187, 187, 187, 0.111);
}
.admin-input-head{
  color: #07090c;
  font-size: 35px;
  font-family: 'Overpass';
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}
.admin-label{
  font-family: 'Overpass';
  color: #080808;
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: 600;
}
.admin-button-container{
  justify-content: center;
  align-items: center;
  display: flex;
}
.admin-input-button{
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 15px;
}
.admin-input-button:hover{
  background-color:  #0056b3;
  transform: scale(1.02);

}